/* https://blog.jim-nielsen.com/2019/conditional-syntax-highlighting-in-dark-mode-with-css-imports/ */
/* Assume light mode by default */
@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/atom-one-light.min.css" screen;

/* Supersede dark mode when applicable */
@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/atom-one-dark-reasonable.min.css" screen and (prefers-color-scheme: dark);

@media (prefers-color-scheme: light) {
  :root {
    --link-color: #6464ff;
    --meta-color: #555;

    --border-color: #eee;
    --aside-color: #666;

    --text-color: #222;
    --background-color: #fefefe;
    --highlighted-background-color: #f3f3f3;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --link-color: #60aeee;
    --meta-color: #8A8A8D;

    --border-color: #666;
    --aside-color: #aaa;

    --text-color: #cfcfcf;
    --background-color: #222;
    --highlighted-background-color: #333;
  }
}

h1 {
  margin-top: 0;
  font-size: 1.2rem;
  font-family: monospace;
}
  h1 a {
    color: var(--text-color);
  }

h2 {
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h3 {
  margin-top: 0;
}

h4 {
  margin-top: 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

body {
  line-height: 1.6;
  padding: 1rem;
  padding-left: 1rem;
  font-family: sans-serif;
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--background-color);
  color: var(--text-color);
}

main {
  width: 100%;
  max-width: 670px;
}

.meta {
  color: var(--meta-color);
  font-size: 0.8rem;
}

.meta span {
  margin-right: 1rem;
}

header {
  width: 100%;
  margin-bottom: 2rem;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 25px;
}

nav ul {
  padding: 0;
}

nav li {
  padding-bottom: 0.8rem;
}

@media (min-width: 1020px) {
  nav {
    justify-content: flex-start;
    padding-left: 75px;
    max-width: 150px;
    flex-direction: column;
  }
}

article > aside {
  color: var(--aside-color);
  border-left: 2px solid var(--border-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  font-size: 0.9rem;
  max-width: 570px;
}

article > aside p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.8rem;
}

pre {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 2px;
}

hr {
  border: 1px solid var(--border-color);
}

.postlist {
  padding: 0;
}

.postlist h3 {
  margin-bottom: 0.25rem;
}

.postlist hr {
  margin: 0;
}

.post-anchor {
  display: block;
  color: var(--text-color);
  padding: 0.5rem;
}

.post-anchor:hover {
  background-color: var(--highlighted-background-color);
}

.post-anchor h3 {
  color: var(--link-color);
}
