<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Blog: {{title}}</title>
  <meta name="description" content="{{title}}">
  <meta name="author" content="{{author}}">

  <link href="/assets/styles.css" rel="stylesheet">
</head>

<body>
  <main>
    <article>
      <header>
        <h1>Remco's Blog</h1>
        <h2>{{title}}</h2>
        <div class="meta">
          <span>
            🗓 2020-04-07
          </span>
          <span>
            🏷 Try-outs
          </span>
        </div>
      </header>
      [[post]]
    </article>
  </main>

  <nav>
    <div class="section">
      <h3>Other posts</h3>
      <ul>
        {{#each articles}}
          <li>
            <a href="/articles/{{slug}}">{{title}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
  </nav>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/languages/javascript.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
